
.book{
    border: 4px solid red;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: aqua;
}

.bookstore{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}